@import "tailwindcss";

@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.viewer-canvas > img {
  image-rendering: pixelated;
  background-color: #242424;
}

.viewer-player > img {
  image-rendering: pixelated;
  background-color: #242424;
}

.viewer-backdrop {
  @apply !bg-black/80 backdrop-blur-sm;
}
